# Samwell Environment Configuration
CREDS_KEY=
CREDS_IV=
JWT_SECRET=
JWT_REFRESH_SECRET=
MONGO_URI=mongodb://mongodb:27017/LibreChat
MEILI_MASTER_KEY=hSK8%
OLLAMA_BASE_URL=http://host.docker.internal:11434
BRAVE_API_KEY=
GITHUB_PAT=
POSTGRES_PASSWORD=
HF_TOKEN=
LANGFUSE_DB_PASSWORD=
LANGFUSE_SECRET_KEY=
LANGFUSE_SALT=
LITELLM_MASTER_KEY=