# Samwell Environment Configuration
CREDS_KEY=openssl_rand_hex_16
CREDS_IV=openssl_rand_hex_8
JWT_SECRET=openssl_rand_hex_32
JWT_REFRESH_SECRET=openssl_rand_hex_32
MONGO_URI=mongodb://mongodb:27017/LibreChat
MEILI_MASTER_KEY=hSK8%
OLLAMA_BASE_URL=http://host.docker.internal:11434
BRAVE_API_KEY=visit_https://api-dashboard.search.brave.com/app/keys
GITHUB_PAT=ghp_repo+read:org+gist+notifications+read:discussion+project
POSTGRES_PASSWORD=avoid_special_characters
HF_TOKEN=hf_visit_https://huggingface.co/settings/tokens
LANGFUSE_DB_PASSWORD=avoid_special_characters
LANGFUSE_SECRET_KEY=sk-read_is_fine_visit_localhost:3001_create_project
LANGFUSE_PUBLIC_KEY=sk-read_is_fine_visit_localhost:3001_create_project
LANGFUSE_SALT=min_32_character_avoid_special_characters
LITELLM_MASTER_KEY=sk-change-me-no-special-characters-please